<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.emunching.emunching"
        version   = "1.0.0">
    <name>eMunching</name>

    <description>
        Emunching Restarant Application
    </description>

    <author href="http://phonegap.com" email="support@phonegap.com">
        eEngage Solutions
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.0.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />
    
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" />
    
    <preference name="disable-cursor" value="true" />
    <preference name="android-installLocation" value="auto" />

    <icon src="icon.png" />
	
	<gap:plugin name="ChildBrowser" />
</widget>